body {
    margin: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #343434;
    background-color: #fdfdff;
}

.big-dot {
    font-size: 24px;
    padding: 0px;
    margin: 15px;
}


.question-list {
    margin: 50px 15px;
}

.question-element {
    display: flex;
    flex-direction: row;
    background-color: #a1a1a1;
    border-radius: 20px;
    margin: 35px 0px;
}

.question-block {
    width: 100%;
}

.question-text {
    position: relative;
    width: 100%;
}

.hidden {
    display: none;
}